category-encoders         2.6.3
decorator                 5.1.1
fastjsonschema            2.19.1
Flask                     3.0.3
joblib                    1.4.2
json5                     0.9.25
jsonschema                4.22.0
jupyter_server            2.14.0
jupyterlab                4.2.1
lazypredict               0.2.12
nbformat                  5.10.4
notebook                  7.2.0
numpy                     1.26.4
pandas                    2.2.2
pip                       24.0
plotly                    5.22.0
plotly-express            0.4.1
scikit-learn              1.5.0
scipy                     1.13.1
seaborn                   0.13.2